<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>CRARS - {{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}" charset="utf-8"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<p id="js-required" class="alert alert-danger">Questo sito necessita di JavaScript per funzionare correttamente!</p>
		{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				<div class="container-sm my-2 alert alert-info alert-dismissible">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endwith %}
		{% block body %}
		{% endblock %}
		<script type="text/javascript">
			let alert = document.getElementById("js-required");
			alert.style.display = "none";
		</script>
	</body>
</html>
