{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="title">
			<span><strong>CLASSROOM AR SCANNER</strong></span>
		</div>
		<div class="currentTitle">
			<h5>Homepage</h5>
		</div>
		<div class="intro">
			<h4>Introduzione</h4>
			<p>Classroom AR Scanner, lo strumento che ti permetterà di visualizzare gli orari delle aule della SAMT con semplicemente in QR code e una fotocamera.</p>
		</div>
		<div class="purpose">
			<h4>Scopo</h4>
			<p>Lo scopo di questo progetto è riuscire a trovare l'orario di scuola di una determinata aula o cercare un'aula desiderata, utilizzando un'applicazione web AR.</p>
			<p>Lo strumento a disposizione in questa applicazione è il seguente:</p>
			<ul>
				<li>Permette di leggere un codice QR di un'aula e avere l'orario del giorno di essa.</li>
			</ul>
		</div>
		<div class="requirements">
			<h4>Requisiti</h4>
				<ul>
					<li><strong>Browser Supportati: </strong>Firefox, Chrome, Safari e Opera</li>
					<li><strong>Banda: </strong>Buona</li>
					<li><strong>Hardware: </strong>Fotocamera da almeno 1MP</li>
				</ul>

		</div>
		<div class="test-now">
			<h4>Provalo ora!</h4>
		</div>
		<div class="row">
			<div class="col-6 offset-3">
				<div class="card">
					<div class="card-body text-center">
						<h5 class="card-title"><strong>Scan QR Code</strong></h5>
						<img class="py-2" src="{{ url_for('static', filename='img/qr.png') }}" class="card-img-top" style="width:80px;"/>
						<p class="card-text">Esegui lo scan di un'aula.</p>
						<a href="{{ url_for('scan') }}" class="btn btn-primary">Prova ora</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="page-footer font-small indigo" id="shhot">
		<!-- Footer Links -->
		<div class="container text-center text-md-left">
			<!-- Grid row -->
			<div class="row">
				<!-- Grid column -->
				<div class="col-md-3 mx-auto">
					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pages</h5>
					<ul class="list-unstyled"  id="pig">
						<li>
							<a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Homepage</a>
						</li>
						<li>
							<a href="{{ url_for('scan') }}"><i class="fas fa-qrcode"></i> Scan QR Code</a>
						</li>
						<li>
							<a href="{{ url_for('index') }}"><i class="fas fa-info-circle"></i> About</a>
						</li>
						<li>
							<a href="{{ url_for('guide') }}"><i class="fas fa-search"></i> Guide</a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->
				<hr class="clearfix w-100 d-md-none">
				<!-- Grid column -->
				<div class="col-md-3 mx-auto">
					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
					<ul class="list-unstyled"  id="contact">
						<li>
							<span><a href="mailto:julian.sprugasci@samtrevano.ch"><i class="far fa-envelope"></i> Julian Sprugasci</a></span>
						</li>
						<li>
							<a href="tel:+41792529103"><i class="fas fa-phone"></i> Pierpaolo Casati</a>
						</li>
						<li>
							<a href="https://www.google.com/maps/place/Centro+Professionale+Trevano/@46.0297788,8.9608404,17z/data=!3m1!4b1!4m5!3m4!1s0x4784326a7f29efcb:0x3dc74e71bf7da691!8m2!3d46.0297751!4d8.9630344"><i class="fas fa-map-marker-alt"></i> CPT Trevano</a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->
				<hr class="clearfix w-100 d-md-none">
				<!-- Grid column -->
				<div class="col-md-3 mx-auto">
					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support us</h5>
					<ul class="list-unstyled" id="pig">
						<li>
							<a href="https://github.com/lorenzoap/classroom_ar_scanner"><i class="fab fa-github"></i> Github page</a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->
				<hr class="clearfix w-100 d-md-none">
				<!-- Grid column -->
				<div class="col-md-3 mx-auto">
					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social</h5>
					<ul class="list-unstyled"  id="pig">
						<li>
							<a href="https://www.instagram.com/p/BloIecpAJjhja__cYoWg-l0ATRNgieIMEZyZ-g0/?igshid=6t4i7b8w0p91"><i class="fab fa-instagram"></i> Julian Sprugasci</a>
						</li>
						<li>
							<a href="https://www.instagram.com/p/BoEU3dFg7iYVZVSYKDbUbTiTwbxG12To5pk4jE0/?igshid=1ha3khf3n8msd"><i class="fab fa-instagram"></i> Pierpaolo Casati</a>
						</li>
						<li>
							<a href="{{ url_for('index') }}"><i class="fab fa-instagram"></i> Claudio Engeler</a>
						</li>
						<li>
							<a href="{{ url_for('index') }}"><i class="fab fa-instagram"></i> Lorenzo Piazza</i></a>
						</li>
					</ul>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
			<!-- Footer Links -->
			<!-- Copyright -->
			<div id="copyright" class="footer-copyright text-center py-3">© 2020 Copyright:
				<a href="https://www.cpttrevano.ti.ch/"> SAM Trevano</a>
			</div>
			<!-- Copyright -->
	</footer>
	<!-- Footer -->
{% endblock %}
