{% extends "base.html" %}

{% block head %}
	<script src="{{ url_for('static', filename='js/aframe.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/aframe-ar.js') }}"></script>
	<style>
		body {
			margin : 0px;
			overflow: hidden;
		}
	</style>
{% endblock %}

{% block body %}
	<a-scene id="scene" embedded arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix;">
		<a-marker type="barcode" value="0">
			<a-box position="0.0 0.0 0.0" scale="2.0 0.1 1.0" color="#999999"></a-box>
			<a-text position="0.0 0.25 -0.35" rotation="-90.0 0.0 0.0" scale="0.5 0.5 1.0" align="center" value="Aula 430" color="#000000"></a-text>
			<a-text position="0.0 0.25 -0.15" rotation="-90.0 0.0 0.0" scale="0.5 0.5 1.0" align="center" value="Lezione attuale: Modulo 306" color="#000000"></a-text>
			<a-text position="0.0 0.25 -0.05" rotation="-90.0 0.0 0.0" scale="0.5 0.5 1.0" align="center" value="Docente: Petrini Geo" color="#000000"></a-text>
			<a-text position="0.0 0.25 0.05"  rotation="-90.0 0.0 0.0" scale="0.5 0.5 1.0" align="center" value="Orario: 08:20 - 11:35" color="#000000"></a-text>
		</a-marker>
		<a-entity camera></a-entity>
	</a-scene>
{% endblock %}
